.header {
    padding: 0.3cm;

}

.title {
    margin-bottom: 0cm;
}

#main {
    display: block;
    margin: 1cm;
    padding: 1cm;
    border-radius: 1cm;
    background-color: lightgray;
}

hr {
    width: 30rem;
    height: 0.1rem;
    background-color:aquamarine;
}

#footer {
    margin: 1cm;
    text-align: center;
}