.header {
    padding: 0.3cm;
    float: left;
    width: 61%;
    height: 5.5cm;
}
.team {
    padding: 0.2cm;
    width: 32%;
    float: right;
    display: block;
    background-color: lightgrey;
}

.content {
    background-color: lightgrey;
    padding: 0.3cm;
}

.title {
    margin-bottom: 0cm;
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px; 
    /* display: flex; */
    /* align-self: flex-end; */
    margin: 1cm; 
    text-align: center;


}